[mysqld]
user                            = ZBOX_USERNAME
port                            = 3306
bind-address                    = 0.0.0.0
basedir                         = ZBOX_INS_FULLPATH
tmpdir                          = ZBOX_STG_FULLPATH/tmp
datadir                         = ZBOX_STG_FULLPATH/data
socket                          = ZBOX_STG_FULLPATH/mysql.sock
log-error                       = ZBOX_STG_FULLPATH/logs/mysqld.error.log
pid-file                        = ZBOX_STG_FULLPATH/pidfile

################################################################################
# Character Set
#	sql: SHOW VARIABLES WHERE Variable_name LIKE 'character\_set\_%' OR Variable_name LIKE 'collation%';
################################################################################
character-set-server            = utf8mb4

# value candidates: utf8mb4_unicode_520_ci
collation-server                = utf8mb4_unicode_ci

# "SET NAMES" effect(update) 3 config: character-set-client,character-set-connection,character-set-results
init-connect                    = 'SET NAMES utf8mb4'

#collation-database             = utf8mb4_unicode_520_ci
#character-set-database         = utf8mb4

################################################################################
# Misc
################################################################################

# Loc of file "errmsg.sys", fail msg: "Can't find messagefile '/usr/share/mysql/errmsg.sys'"
# Assembled path: {lc-messages-dir}/{lc-messages: translate to language name}
# E.g for "/PATH/A/" & "en_US", will find in path: /PATH/A/english/
lc-messages                     = en_US
lc-messages-dir                 = ZBOX_INS_FULLPATH/share/

# TRUE: to avoid "TIMESTAMP with implicit DEFAULT value is deprecated. ..."
explicit_defaults_for_timestamp = TRUE

[client]
port                            = 3306
default-character-set           = utf8mb4
socket                          = ZBOX_STG_FULLPATH/mysql.sock

[mysql]
port                            = 3306
default-character-set           = utf8mb4


### candidates for [mysqld]
#skip-external-locking
#key_buffer         = 16M
#max_allowed_packet = 16M
#thread_stack       = 192K
#thread_cache_size  = 8
#myisam-recover     = BACKUP
#query_cache_limit  = 1M
#query_cache_size   = 16M
#expire_logs_days   = 10
#max_binlog_size    = 100M
#[mysqldump]
#quick
#quote-names
#max_allowed_packet = 16M
#[isamchk]
#key_buffer         = 16M
